@using MvcPaging
@model MvcPaging.IPagedList<IAAITW.Models.CMSAccount>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/CMS/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
    <h5>帳號管理</h5>
</div>

<div class="card-block">
    @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-primary" })
    <div style="display: inline-block; float: right">
        @using (Html.BeginForm("Index", "Accounts", FormMethod.Get))
        {
            <input id="search" name="search" type="search" value="@ViewBag.Search" placeholder="身份別、姓名、帳號" class="search-bar" />
            <input type="submit" value="搜尋" class="btn btn-light" />
        }
    </div>
    <table class="table">
        <tr>
            <th>
                編號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().MyIdentity.Identity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
            </th>
            <th></th>
        </tr>

        @{
            int pageSize = Model.PageSize;
            int currentPage = Model.PageNumber;
            int startIndex = (currentPage - 1) * pageSize + 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">
                    @startIndex
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.MyIdentity.Identity)
                </td>
                <td class="align-middle">
                    <a href="@Url.Action("Edit","Accounts", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="align-middle">
                    @using (Html.BeginForm("Delete", "Accounts", new { id = item.Id }, FormMethod.Post, new { onsubmit = "return confirm('確定要刪除嗎?');" }))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-outline-danger" style="display: @(item.IdentityId==1?"none":"block")">刪除</button>
                    }
                </td>
            </tr>
            startIndex++;
        }
    </table>

    <div class="pager">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(x => x.AlwaysAddFirstPageNumber())
    </div>
</div>