@using MvcPaging
@model MvcPaging.IPagedList<IAAITW.Models.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/CMS/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
    <h5>訊息列表</h5>
</div>

<div class="card-block">
    <p>
        @Html.ActionLink("新增", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table">
        <tr>
            <th>
                編號
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().CoverImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().GoTop)
            </th>
            <th></th>
        </tr>

        @{
            int pageSize = Model.PageSize;
            int currentPage = Model.PageNumber;
            int startIndex = (currentPage - 1) * pageSize + 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @startIndex
                </td>
                <td>
                    <img src="~/upload/news_cover/@item.CoverImg" width="100" alt="Cover" />
                </td>
                <td>
                    @item.ReleaseDate.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @Html.ActionLink(@Html.DisplayFor(modelItem => item.Title).ToString(), "Edit", new { id = item.Id })
                </td>
                <td class="text-center">
                    @using (Html.BeginForm("GoTop", "News", new { id = item.Id }, FormMethod.Post))
                    {
                        <input type="submit" name="go-top" value="@(item.GoTop == false ? "選取" : "置頂")" class="@(item.GoTop == false ? "btn btn-light" : "btn btn-info")" />
                    }
                </td>
                <td>
                    @using (Html.BeginForm("Delete", "News", new { id = item.Id }, FormMethod.Post, new { onsubmit = "return confirm('確定要刪除嗎?');" }))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-outline-danger">刪除</button>
                    }
                </td>
            </tr>
            startIndex++;
        }
    </table>
    <div class="pager">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
    </div>
</div>