@using MvcPaging
@model MvcPaging.IPagedList<IAAITW.Models.News>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/News_Layout.cshtml";
}

<h2 class="page-title">訊息發佈</h2>
<hr class="botmargin-min">

@foreach (var item in Model)
{
    <div class="post">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="post-media post-image">

                    <a href="@Url.Action("Details", "News", new { id = item.Id })"><img alt="img" src="~/upload/news_cover/@item.CoverImg" class="img-responsive"></a>

                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="post-body">
                    <div class="entry-header">
                        <span class="post-meta-date"><i class="fa fa fa-clock-o"></i> @item.ReleaseDate.ToString("yyyy-MM-dd")</span>
                        <h3 class="entry-title">
                            <a href="@Url.Action("Details", "News", new { id = item.Id })">@item.Title</a>
                        </h3>
                        <p>
                            <em>
                                @{
                                    string content = Html.Raw(item.Content).ToString();
                                    string truncatedContent = content.Length > 30 ? content.Substring(0, 50) + "..." : content;
                                }

                                @Html.Raw(truncatedContent)
                            </em>
                        </p>

                    </div>
                    <!-- header end -->
                    <div class="post-footer">
                        <a href="@Url.Action("Details","News", new { id = item.Id})" class="btn btn-primary">more</a>
                    </div>
                </div>
                <!-- post-body end -->
            </div>
        </div>
    </div>
}

<div class="paging text-center">
    <div class="pagination">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
    </div>
</div>
<!-- Content row 1 end -->
<!-- 內容結束 -->