@model IAAITW.Models.Member

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/CMS/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
    <h5>新增會員</h5>
</div>

<div class="card-block">
    @using (Html.BeginForm("Create", "Members", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <span class="text-danger">*</span>
                @Html.LabelFor(model => model.Account, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
                <div class="text-danger" style="display: inline-block">@ViewBag.MsgAccount</div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.Gender, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                @Html.LabelFor(model => model.BirthDate, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control", type = "date" })
                </div>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                @Html.LabelFor(model => model.MemberTypes, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.MemberTypes, "", new { @class = "text-danger" })
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.MemberTypes, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                @Html.LabelFor(model => model.Tel, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "text-danger" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.InternationalMembership, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.CheckBoxFor(model => model.InternationalMembership)
                    <span>為國際縱火調查學會之當年度有效會員，請檢附會員證影本</span>
                    <div>
                        <input type="file" name="file" />
                        <div class="text-danger" style="display: inline-block">@ViewBag.Msg</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                @Html.LabelFor(model => model.CurrentEmployer, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.CurrentEmployer, "", new { @class = "text-danger" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CurrentEmployer, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                @Html.LabelFor(model => model.JobTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.JobTitle, "", new { @class = "text-danger" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.JobTitle, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                @Html.LabelFor(model => model.HighestEducation, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.ValidationMessageFor(model => model.HighestEducation, "", new { @class = "text-danger" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HighestEducation, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                @Html.Label("服務單位", new { @class = "col-md-2" })
                @Html.ValidationMessageFor(model => model.PastEmployer1, "", new { @class = "text-danger" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PastEmployer1, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                @Html.Label("職稱", new { @class = "col-md-2" })
                @Html.ValidationMessageFor(model => model.PastJobTitle1, "", new { @class = "text-danger" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PastJobTitle1, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                @Html.Label("起", new { @class = "col-md-2" })
                @Html.ValidationMessageFor(model => model.StartYear1, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.StartMonth1, "", new { @class = "text-danger" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StartYear1, new { htmlAttributes = new { @class = "form-control2", placeholder = "年" } })
                    @Html.EditorFor(model => model.StartMonth1, new { htmlAttributes = new { @class = "form-control2", placeholder = "月" } })
                </div>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                @Html.Label("迄", new { @class = "col-md-2" })
                @Html.ValidationMessageFor(model => model.EndYear1, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.EndMonth1, "", new { @class = "text-danger" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EndYear1, new { htmlAttributes = new { @class = "form-control2", placeholder = "年" } })
                    @Html.EditorFor(model => model.EndMonth1, new { htmlAttributes = new { @class = "form-control2", placeholder = "月" } })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("服務單位", new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PastEmployer2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PastEmployer2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("職稱", new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PastJobTitle2, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PastJobTitle2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("起", new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StartYear2, new { htmlAttributes = new { @class = "form-control2", placeholder = "年" } })
                    @Html.ValidationMessageFor(model => model.StartYear2, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.StartMonth2, new { htmlAttributes = new { @class = "form-control2", placeholder = "月" } })
                    @Html.ValidationMessageFor(model => model.StartMonth2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("迄", new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EndYear2, new { htmlAttributes = new { @class = "form-control2", placeholder = "年" } })
                    @Html.ValidationMessageFor(model => model.EndYear2, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.EndMonth2, new { htmlAttributes = new { @class = "form-control2", placeholder = "月" } })
                    @Html.ValidationMessageFor(model => model.EndMonth2, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("服務單位", new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PastEmployer3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PastEmployer3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("職稱", new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PastJobTitle3, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.PastJobTitle3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("起", new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StartYear3, new { htmlAttributes = new { @class = "form-control2", placeholder = "年" } })
                    @Html.ValidationMessageFor(model => model.StartYear3, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.StartMonth3, new { htmlAttributes = new { @class = "form-control2", placeholder = "月" } })
                    @Html.ValidationMessageFor(model => model.StartMonth3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("迄", new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EndYear3, new { htmlAttributes = new { @class = "form-control2", placeholder = "年" } })
                    @Html.ValidationMessageFor(model => model.EndYear3, "", new { @class = "text-danger" })
                    @Html.EditorFor(model => model.EndMonth3, new { htmlAttributes = new { @class = "form-control2", placeholder = "月" } })
                    @Html.ValidationMessageFor(model => model.EndMonth3, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                @Html.Label("相關年資合計", new { @class = "col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TotalYear, new { htmlAttributes = new { @class = "form-control2", placeholder = "年" } })
                    @Html.EditorFor(model => model.TotalMonth, new { htmlAttributes = new { @class = "form-control2", placeholder = "月" } })
                </div>
                <div class="col-md-10">
                    @Html.ValidationMessageFor(model => model.TotalYear, "", new { @class = "text-danger" })
                    @Html.ValidationMessageFor(model => model.TotalMonth, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>