@model IAAITW.Models.About

@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Areas/CMS/Views/Shared/_Layout.cshtml";
}

<div class="card-header">
    <h5>關於我們</h5>
</div>

<div class="card-block">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.TextAreaFor(model => model.AboutUs, new { @class = "ckeditor" })
                @Html.ValidationMessageFor(model => model.AboutUs, "", new { @class = "text-danger" })
            </div>

            @Html.HiddenFor(model => model.Organization)
            @Html.HiddenFor(model => model.History)
            @Html.HiddenFor(model => model.LicensedMember)
            @Html.HiddenFor(model => model.Expert)

            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-block btn-primary" />
            </div>
        </div>
    }
    <script>
        var editor = CKEDITOR.replace('ckeditor');
        CKFinder.setupCKEditor(editor);
    </script>
</div>