@using MvcPaging
@model MvcPaging.IPagedList<IAAITW.Models.BoardReply>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Member_Layout.cshtml";
}

<h2 class="page-title">討論區</h2>
<hr class="botmargin-min">

<style>
    .entry-header {
        background: #3c73b0;
        color: white;
        padding: 10px 30px;
    }

        .entry-header .entry-title {
            color: white;
        }

    .entry-title {
    }

    .post-meta-date {
    }

    .post-content {
        border: whitesmoke 1px solid;
        margin-bottom: 20px;
        box-shadow: rgba(210,210,210,.1) 2px 2px 20px;
    }

    .entry-content {
    }

    .post {
        border: whitesmoke 1px solid;
        padding: 0;
    }

    .postInfo {
        padding: 10px 20px;
        background: #eee;
        text-align: right;
    }

    .respon {
        margin: 20px auto;
        display: inline-block;
        padding: 3px 8px;
        background: #b2b2b2;
        color: white;
        border-radius: 2px;
    }

    .post-body {
        background: #FCFCFC;
        padding: 30px;
        box-shadow: rgba(210,210,210,.1) 2px 2px 20px;
    }

    .clear {
        clear: both;
    }

    .postMan {
        font-size: 16px;
    }
</style>

<div class="post-content">
    <div class="entry-header">
        <h2 class="entry-title">
            @ViewBag.Subject
        </h2>
        <span class="postMan"> 發表人：@ViewBag.Author</span>
    </div><!-- header end -->

    <div class="postInfo">
        <span class="post-meta-date"><i class="fa fa fa-clock-o"></i> @ViewBag.PostDate</span>
    </div>
    <div class="post-body">
        <div class="entry-content topmargin-min">
            @Html.Raw(ViewBag.Article)
        </div>
        <div class="tags-area clearfix">

        </div>
    </div>
</div><!-- post-body end -->

<a class="respon" href="/Forum/CreateRe/@ViewBag.SubjectId">回應文章</a>
<div class="clear"></div>

@foreach (var item in Model)
{
    <div class="post">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="entry-header">
                    <div class="post-media post-image postMan">
                        回應：@item.Replyer
                    </div>
                </div>
                <div class="postInfo">
                    <span class="post-meta-date"><i class="fa fa fa-clock-o"></i> @item.ReplyDate.ToString("yyyy-MM-dd")</span>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="post-body">
                    @Html.Raw(item.ReplyArticle)
                </div>
            </div>
        </div>
    </div>
}

<div class="paging text-center">
    <div class="pagination">
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
    </div>
</div>

<div class="post-footer  pull-left">
    <a onclick="history.back()" onKeyPress="history.back()" class="btn btn-primary">返回列表</a>
</div>
